.card {
  display: flex;
  flex-direction: column;
  position: relative;
}

.card__image {
  width: 282px;
  height: 282px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
}

.card__description {
  display: flex;
  background-color: white;
  color: black;
  padding: 25px 20px 25px;
  align-items: center;
  justify-content: space-between;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card__title {
  max-width: 220px;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

.card__like-button {
  background: transparent url(../images/like-icon.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
}

.card__like-button:hover {
  cursor: pointer;
  opacity: 0.5;
}

.card__like-active {
  background: transparent url(../images/like-active.svg) center no-repeat;
}

.card__trash-button {
  background: url(../images/Trash.svg);
  width: 18px;
  height: 18px;
  position: absolute;
  top: 18px;
  right: 15px;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
}

.card__trash-button:hover {
  cursor: pointer;
  opacity: 0.6;
}
