.cards {
  margin-top: 35px;
  margin-bottom: 5px;
}

.cards__list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  /* This sprint introduced Grid theory. Using 'auto-fit'
    in for grid-template-columns will automatically configure
    the correct number of columns that will fit at each resolution */
  grid-gap: 20px 17px;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  max-width: 880px;
}

@media screen and (max-width: 620px) {
  .cards {
    margin-top: 25px;
  }
}
